@charset "utf-8";

// Mixins
@mixin link-color($normal, $hover) {
  a {
    color: $normal;
    text-decoration: none;

    &:hover {
      color: $hover;
      transition: color .3s ease-out;
    }
  }
}

// Custom variables
$font-heading: museo-slab, serif;
$accent: #f4f4f4;

// Bulma variable overrides
$body-family: museo-sans, sans-serif;
// $body-weight: 300;

// Bulma imports
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

// $box-background-color: $grey-lighter;
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
// @import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";

$title-family: museo-slab, serif;
$title-size: 3rem; //2rem;
$title-weight: 300;
@import "../../node_modules/bulma/sass/elements/title.sass";

// @import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
$footer-padding: 0; //.5rem .75rem .5rem;
$footer-background-color: #f6f9fe; // hsl(0, 0%, 100%);
@import "../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";

$section-padding: 1.5rem; //3rem 1.5rem;
@import "../../node_modules/bulma/sass/layout/section.sass";

@import "../../node_modules/bulma-badge/src/sass/index.sass";
@import "../../node_modules/bulma-divider/src/sass/index.sass";

.expando-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .expando {
    flex: 1;
  }
}

#footer {
  margin: 0;

  .message-body {
    padding: .5em;
  }
}

#comic {
  h1 {
    font-size: 4rem;
  }

  .message {
    margin-top: 1rem;
  }
}

.message {
  &.is-unbordered {
    .message-body {
      border-width: 0;
    }
  }

  &.is-bordered {
    .message-body {
      border-width: 0 4px;
    }
  }
}

// .title,
// .subtitle {
//   font-family: $font-heading;
// }

#main {
  @include link-color($black, $black);

  background-color: $white-bis;
  border-bottom: 1px solid $grey-light;
  box-shadow: 0 0 10px $grey-light;
  color: $black;
  font-family: $font-heading;
  font-size: 3rem;

  h1 {
    height: 70px;
  }

  .emphasize {
    background-color: $blue;
    border-radius: 2px;
    color: $white;
    font-size: 2rem;
    margin: 7px;
    padding: 0 12px;
    position: relative;
    top: -.4ex;
    vertical-align: baseline;
  }
}
