<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    <title>xkcd 2:
      {{ comic.safe_title }}</title>

    <link rel="stylesheet" href="/css/main.min.css">

    {% block scripts_top %}
      <script type="text/javascript" src="http://use.typekit.com/zst8lfn.js"></script>
      <script type="text/javascript">
        try {
          Typekit.load();
        } catch (e) {}
      </script>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31833843-1']);
        _gaq.push(['_trackPageview']);

        (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = (
            'https:' == document.location.protocol
            ? 'https://ssl'
            : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s
            .parentNode
            .insertBefore(ga, s);
        })();
      </script>
    {% endblock %}
  </head>
  <body class="vholder">
    <div class="section">
      <div class="container">
        <header class="section">
          <h1 class="title has-text-centered">
            <a href="/">xkcd<span class="emphasize">2</span></a>
          </h1>
        </header>
        <div id="comic" class="columns is-centered vexpand">
          <div class="column is-three-fifths">
            <div class="content has-text-centered">
              <h1>{{ comic.safe_title|escape|typogrify|safe }}</h1>

              <a href="http://xkcd.com/{{ comic.num }}/">
                <img src="{{ comic.img }}" class="image" title="{{ comic.alt }}"/>
              </a>
            </div>
            <div class="message is-centered is-primary">
              <div class="message-body">
                <p id="comic-title">{{ comic.alt|escape|typogrify|safe }}</p>
              </div>
            </div>
            {# <div class="is-divider"></div> #}
            <nav id="comic-nav" class="pagination is-centered" role="navigation" aria-label="pagination">
              <a class="pagination-previous is-current" href="/comic/{{ comic.num - 1 }}/" title="Previous comic">« Previous</a>
              <ul class="pagination-list">
                <li>
                  <a class="pagination-link" href="/random/" aria-label="Random comic">Random</a>
                </li>
              </ul>
              <a class="pagination-next is-current" href="/comic/{{ comic.num + 1 }}/" {% if isHome %} disabled="disabled" {% endif %}>Next »</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="section columns is-centered">
        <div class="column is-one-quarter">
          <div class="message is-link is-unbordered">
            <div class="message-body">
              <div class="content is-small has-text-centered">
                <p>xkcd 2 is a project by
                  <a href="https://www.tylerbutler.com/">Tyler Butler</a>.
                  <a href="/about/">Learn more about it.</a>
                </p>

                <p>xkcd is written by Randall Munroe. Comics are used under a
                  <a href="http://creativecommons.org/licenses/by-nc/2.5/">CC BY-NC 2.5 License.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
